In [1]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [2]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shondita\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Shondita\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
file_path = "D://My Folder//Forage//British Airways//data//BA_reviews.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

   Unnamed: 0                                            reviews
0           0  Not Verified | The worst airline I have ever f...
1           1  ✅ Trip Verified |   Disappointing service, pla...
2           2  ✅ Trip Verified |   A transit visa is required...
3           3  ✅ Trip Verified |   I was surprised to receive...
4           4  ✅ Trip Verified |   Flight cancelled, not refu...

In [6]:
df['reviews'].isnull().sum()

0

In [7]:
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Tokenize the text
    words = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]
    
    # Join words back into one string
    cleaned_text = ' '.join(words)
    
    return cleaned_text

In [9]:
# Apply the text cleaning function to the review column

df['cleaned_reviews'] = df['reviews'].apply(clean_text)

In [11]:
df[['reviews', 'cleaned_reviews']].head()

,reviews,cleaned_reviews
0,Not Verified | The worst airline I have ever f...,verified worst airline ever flown cancelled fl...
1,"✅ Trip Verified | Disappointing service, pla...",trip verified disappointing service plane inte...
2,✅ Trip Verified | A transit visa is required...,trip verified transit visa required partner tr...
3,✅ Trip Verified | I was surprised to receive...,trip verified surprised receive confirmation p...
4,"✅ Trip Verified | Flight cancelled, not refu...",trip verified flight cancelled refunding money...

In [12]:
df.to_csv('D://My Folder//Forage//British Airways//BA_cleaned_reviews.csv', index=False)